body {
    font-family: Gantari, Arial, sans-serif;
    margin: 0;
    background-color: #23174A; /* Dark background */
    color: #e0e0e0;
}

main {
    padding: 20px;
}

.card {
    background-color: #3a3f47;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #a0a0ff;
    margin-top: 0;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.controls div {
    margin: 5px 10px;
}

.slider-container {
    display: flex;
    align-items: center;
}

#yearSlider {
    width: 150px;
    margin-left: 10px;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#australia-map, #line-chart-fines {
    background-color: #4a505c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    flex: 1;
    min-width: 300px; /* Ensure charts are not too small */
    height: 350px; /* Fixed height for consistency */
}

#australia-map svg, #line-chart-fines svg, #bar-chart-mobile-offences svg {
    width: 100%;
    height: 100%;
    display: block; /* Remove extra space below SVG */
}

#bar-chart-mobile-offences {
    background-color: #4a505c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 400px;
}


/* Map specific styling */
.country {
    fill: #a2d2ff; /* Light blue for land */
    stroke: #ffffff; /* White border */
    stroke-width: 0.5px;
    cursor: pointer;
}

.country:hover {
    fill: #6bbaff; /* Darker blue on hover */
}

.country.active {
    fill: #007bff; /* Highlight selected jurisdiction */
}

.legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    background: #555;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
}

.dropdown-style {
    background-color: #4a505c;
    color: #ffffff;
    border: 1px solid #a0a0ff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-style:focus {
    outline: none;
    border-color: #00bcd4;
}

/* Navigation Bar */
.nav-container {
  display: flex;
  align-items: center; 
  background-color: #4E3AA2;
  width: 100%;
  box-sizing: border-box;
}

.nav-container ul {
  display: flex;
  list-style-type: none;
  padding: 1em;
  background-color: #4E3AA2;
  padding-left: 3em;
  font-weight: bold;
  margin: 0;
}

.nav-container li {
  display: block;
  margin-right: 2em; 
  position: relative;
}

.nav-container li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -1em;
  top: 50%;
  transform: translateY(-50%);
  width: 0.1em;
  height: 2em;
  background: #888;
}

.nav-container li a{
    display: block;
    text-decoration: none;
    color: white
}

.nav-container li:hover a{
   color: #7356e7;
}

/* Footer Styles */

.footer-content{
  background-color: #4E3AA2;
  padding: 0.5em;
  text-align:left;
  color: white;
}

footer span{
  color: white;
  font-weight: bold;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.footer-left {
  text-align: left;
  padding-left: 2em;
  padding-top: 0.2em;
}

.footer-right {
  text-align: right;
  padding-top: 0.2em;
  padding-right: 2em;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}